@import "tailwindcss";

* { box-sizing: border-box;}
@custom-variant dark (&:where(.dark, .dark *));

body { font-family: system-ui, sans-serif; }

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background 0.2s, color 0.2s;
}


.app.tema-dark { background: #1a1a1a }




.cuerpo { display: flex; flex: 1; }



.contenido { flex: 1;}